<template>
    <main class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header text-uppercase" >{{ movies.name }} {{movielist}}</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <img img :src="movies.logo" alt="" class="img-fluid card-img-top">
                                </div>
                                <div class="col-md-8">
                                    <table class="table table-listing table-hover table-align-middle">
                                        <tr>
                                            <td style="width: 200px"><i class="fa fa-gamepad"></i> Category</td>
                                            <td>
                                                <nuxt-link :to="'/categories/' + movies.category_id" >{{movies.category.name}}</nuxt-link>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-user"></i> Actors</td>
                                            <td>
                                                <nuxt-link :to="'/actors/' + actor_id.id" v-for='actor_id in actors' v-bind:key="actor_id.id"> {{ actor_id.name }} <br></nuxt-link>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-camera"></i> Genres </td>
                                            <td>
                                                <nuxt-link :to="'/genres/' + genre.id" v-for='genre in genres' v-bind:key="genre.id"> {{ genre.name }}</nuxt-link>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-calendar"></i> Released at</td>
                                            <td>{{ released_at }}</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-star"></i> Rating</td>
                                            <td> {{ movies.total_rate }}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <ul class="timeline">
                                        <li> {{ movies.description }} </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-header">Comments</div>
                        <div class="card-body">
                            <comments  v-for='comment in comments' :comments='comment' v-bind:key='comment.id'></comments>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>

import Comments from '../../components/pages/comments'

export default {
    props: ['movie'],
    component: {
        Comments
    },
     
    async asyncData({$axios, params}) {

        const movies = await $axios.get('/topMovies')
        const comments = await $axios.get('/latestComments');

        return {
            movies: movies.data[params.id - 1],
            actors: movies.data[params.id - 1].actors,
            genres: movies.data[params.id - 1].genres,
            released_at:  (new Date(movies.data[params.id - 1].released_at)).toLocaleDateString() , 
            comments: comments.data,
        }
    },

}
</script>