<template>
  <div>
    <div class="row">
        <div class="col-md-12"><h3>{{categories.name}}</h3></div>
    </div>
    <div class="row" >
        <movie-card v-for='movie in isRenderSetTypeCard' :movie='movie' v-bind:key='movie.id'></movie-card>           
    </div>
  </div>
</template>

<script>
import MovieCard from '../../components/pages/movie-card'
  export default {
    component: {
        MovieCard,
    },
    
    async asyncData({$axios, params}) {
        const movies = await $axios.get('/movies')
        const response = await $axios.get('/categories')
        return {
            categories: response.data[params.id - 1],
            movies: movies.data.data
        }
    },
    computed: {
        isRenderSetTypeCard() {
            const movies = [];
            const getMovies = this.movies; 
            const categories = this.categories

            for (var i = 0; i < getMovies.length; i++) {
                let res = getMovies[i]
                for( let key in res) {
                    if(res[key].id == categories.id) {
                        movies.push(getMovies[i])
                    }
                } 
            }
            return movies
        }
    }
}
</script>