<template>
  <div>
    <form @submit="userLogin">
      <div>
        <label>Email</label>
        <input type="text" v-model="login.email" />
      </div>
      <div>
        <label>Password</label>
        <input type="text" v-model="login.password" />
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        login: {
          email: '',
          password: ''
        }
      }
    },
    methods: {
      async userLogin(e) {
        e.preventDefault();
        try {
          await this.$auth.loginWith('local', { data: this.login })
        } catch (err) {
          console.log(err)
        }
      }
    }
  }
</script>
