<template>
    <div>
        <div class="row">
            <div class="col-md-12"><h3>Movies</h3></div>
        </div>
        <div class="row">
            <movie-card  v-for='movie in movies' :movie='movie' :movielist='movielist' v-bind:key='movie.id'></movie-card>        
        </div>
    </div>
</template>

<script>
import MovieCard from '../../components/pages/movie-card'
export default {
    component: {
        MovieCard,
    },
    async asyncData({$axios}) {
        const response = await $axios.get('/movies')
        // console.log(response.data.data)
        return {
            movielist: 'movies',
            movies: response.data.data,
        }
    }
}
</script>

<style>

</style>
