<template>
    <div class="container">

        <navbar></navbar>

        <main class="py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nuxt />
                    </div>
                </div>  
            </div>   
        </main>
    </div>
</template>

<script>
import navbar from "@/components/layouts/navbar"
    export default {
        components: {
            navbar
        }
    }

</script>