<template>
    <div>
        <div class="row">
            <div class="col-md-12"><h3>Top movies</h3></div>
        </div>
        <div class="row">
            <movie-card v-for='movie in movies' :movie='movie' :movielist='movielist' v-bind:key='movie.id'></movie-card>        
        </div>
    </div>
</template>

<script>
import MovieCard from '../components/pages/movie-card'
export default {
    component: {
        MovieCard
    },
   
    async asyncData({$axios}) {
        const response = await $axios.get('/topMovies')
        
        return {
            movielist: 'topMovies',
            movies: response.data,
        }
    }
}
</script>

<style>

</style>
