<template>
    <div>
        <div class="row">
            <div class="col-md-12"><h3>{{genres.name}}</h3></div>
        </div>
        <div class="row" >
            <movie-card v-for='movie in isRenderSetTypeCard' :movie='movie' v-bind:key='movie.id'></movie-card>     
        </div>
    </div>
</template>

<script>
import MovieCard from '../../components/pages/movie-card'
export default {
    component: {
        MovieCard,
    },

    async asyncData({$axios, params}) {
        const movies = await $axios.get('/movies')
        const response = await $axios.get('/genres')
        
        return {
            genres: response.data[params.id - 1],
            movies: movies.data.data
        }
    },
    computed: {
        isRenderSetTypeCard() {
        let movies = [];
        const getMovies = this.movies; 
        const genres = this.genres

            for (var i = 0; i < getMovies.length; i++) {
                let res = getMovies[i].genres
                for( let key in res) {
                    if(res[key].id == genres.id) {
                        movies.push(getMovies[i])
                    }
                }
            }
        return movies
        }
    }
}
</script>