<template>
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="media" id="comment-704">
                <div class="media-body">
                    <h5 class="mt-0">{{ comments.user.name }}</h5>
                    <div><small class="text-muted">{{ pubCommentsDate }}</small> </div>
                    {{ comments.description }}
                </div>
            </div>
            <hr>
        </div>
    </div>
</template>

<script>
export default {
    props: ['comments'],
    computed: {
        pubCommentsDate() {
            return (new Date(this.comments.created_at)).toLocaleString() 
        }
    }
}
</script>