<template>
    <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
            <div class="container">
                <nuxt-link class="navbar-brand" :to="`/`">
                    Kinoha
                </nuxt-link>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left Side Of Navbar -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <nuxt-link :to="`/movies`" class="nav-link">Movies</nuxt-link>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                                Actors <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <nuxt-link v-for='actor in actors' v-bind:key="actor.id" :to="'/actors/'+ actor.id" class="dropdown-item">
                                    {{ actor.name }}
                                </nuxt-link>                         
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                                Genres <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <nuxt-link v-for='genre in genres' v-bind:key="genre.id" :to="'/genres/'+ genre.id" class="dropdown-item">
                                    {{ genre.name }}
                                </nuxt-link> 
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                                Categories <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <nuxt-link v-for='categorie in categories' v-bind:key="categorie.id" :to="'/categories/'+ categorie.id" class="dropdown-item">
                                    {{ categorie.name }}
                                </nuxt-link> 
                            </div>
                        </li>
                    </ul>
                    <!-- Right Side Of Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Authentication Links -->
                        <li class="nav-item">
                                <nuxt-link class="nav-link" to="/auth/login">Login</nuxt-link>
                        </li>
                        <li class="nav-item">
                            <nuxt-link class="nav-link" to="/auth/register">Register</nuxt-link>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
</template>
<script>
export default {
    data() {
        return {
            actors:[],
            genres:[],
            categories:[]
        }
    },
    async created() {
        
    const actors = await this.$axios.get('/actors');
    const genres = await this.$axios.get('/genres');
    const categories = await this.$axios.get('/categories');

    this.actors = actors.data;
    this.genres = genres.data;
    this.categories = categories.data
    
    }
}
</script>

<style>

</style>
